@model List<mvc_m1.Models.ToDoItem>

@{
    ViewData["Title"] = "Att göra";
}

<div class="container">
    <h2>Att göra-lista:</h2>
    <ul class="todoList">
        @foreach (var item in Model)
        {
            <li>@item.Task</li>
        
        }
    </ul>

    <h3>@ViewBag.Message</h3>
</div>